@font-face {
  font-family: 'ap-icons';
  src:  url('../fonts/ap-icons.eot?s9gtnh');
  src:  url('../fonts/ap-icons.eot?s9gtnh#iefix') format('embedded-opentype'),
    url('../fonts/ap-icons.ttf?s9gtnh') format('truetype'),
    url('../fonts/ap-icons.woff?s9gtnh') format('woff'),
    url('../fonts/ap-icons.svg?s9gtnh#ap-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ap-"], [class*=" ap-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ap-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ap-badge2:before {
  content: "\ea2d";
}
.ap-paintbrush:before {
  content: "\ea27";
}
.ap-color:before {
  content: "\ea27";
}
.ap-fill:before {
  content: "\ea27";
}
.ap-brush:before {
  content: "\ea27";
}
.ap-star:before {
  content: "\e95d";
}
.ap-star1:before {
  content: "\e9f6";
}
.ap-grid:before {
  content: "\e932";
}
.ap-icons:before {
  content: "\e932";
}
.ap-bulb:before {
  content: "\ea19";
}
.ap-bulb1:before {
  content: "\ea1a";
}
.ap-lamp:before {
  content: "\ea1a";
}
.ap-idea:before {
  content: "\ea1a";
}
.ap-bubble:before {
  content: "\e928";
}
.ap-comment:before {
  content: "\e928";
}
.ap-chat1:before {
  content: "\e928";
}
.ap-talk:before {
  content: "\e928";
}
.ap-study:before {
  content: "\e929";
}
.ap-graduation:before {
  content: "\e929";
}
.ap-hat:before {
  content: "\e929";
}
.ap-college:before {
  content: "\e929";
}
.ap-label:before {
  content: "\ea23";
}
.ap-buy:before {
  content: "\ea23";
}
.ap-tag:before {
  content: "\ea23";
}
.ap-right-quote-alt:before {
  content: "\e92d";
}
.ap-left-quote-alt:before {
  content: "\e92e";
}
.ap-right-quote1:before {
  content: "\e92f";
}
.ap-left-quote1:before {
  content: "\e930";
}
.ap-amazon:before {
  content: "\ea87";
}
.ap-google:before {
  content: "\ea88";
}
.ap-google2:before {
  content: "\ea89";
}
.ap-google3:before {
  content: "\ea8a";
}
.ap-google-plus:before {
  content: "\ea8b";
}
.ap-google-plus2:before {
  content: "\ea8c";
}
.ap-google-plus3:before {
  content: "\ea8d";
}
.ap-hangouts:before {
  content: "\ea8e";
}
.ap-google-drive:before {
  content: "\ea8f";
}
.ap-facebook:before {
  content: "\ea90";
}
.ap-facebook2:before {
  content: "\ea91";
}
.ap-instagram1:before {
  content: "\ea92";
}
.ap-whatsapp:before {
  content: "\ea93";
}
.ap-spotify:before {
  content: "\ea94";
}
.ap-telegram:before {
  content: "\ea95";
}
.ap-twitter2:before {
  content: "\ea96";
}
.ap-vine:before {
  content: "\ea97";
}
.ap-vk1:before {
  content: "\ea98";
}
.ap-renren:before {
  content: "\ea99";
}
.ap-sina-weibo:before {
  content: "\ea9a";
}
.ap-rss1:before {
  content: "\ea9b";
}
.ap-rss2:before {
  content: "\ea9c";
}
.ap-youtube2:before {
  content: "\ea9d";
}
.ap-youtube21:before {
  content: "\ea9e";
}
.ap-twitch:before {
  content: "\ea9f";
}
.ap-vimeo1:before {
  content: "\eaa0";
}
.ap-vimeo2:before {
  content: "\eaa1";
}
.ap-lanyrd:before {
  content: "\eaa2";
}
.ap-flickr1:before {
  content: "\eaa3";
}
.ap-flickr2:before {
  content: "\eaa4";
}
.ap-flickr3:before {
  content: "\eaa5";
}
.ap-flickr4:before {
  content: "\eaa6";
}
.ap-dribbble1:before {
  content: "\eaa7";
}
.ap-behance1:before {
  content: "\eaa8";
}
.ap-behance2:before {
  content: "\eaa9";
}
.ap-deviantart:before {
  content: "\eaaa";
}
.ap-500px:before {
  content: "\eaab";
}
.ap-steam:before {
  content: "\eaac";
}
.ap-steam2:before {
  content: "\eaad";
}
.ap-dropbox1:before {
  content: "\eaae";
}
.ap-onedrive:before {
  content: "\eaaf";
}
.ap-github:before {
  content: "\eab0";
}
.ap-npm:before {
  content: "\eab1";
}
.ap-basecamp:before {
  content: "\eab2";
}
.ap-trello:before {
  content: "\eab3";
}
.ap-wordpress:before {
  content: "\eab4";
}
.ap-joomla:before {
  content: "\eab5";
}
.ap-ello:before {
  content: "\eab6";
}
.ap-blogger:before {
  content: "\eab7";
}
.ap-blogger2:before {
  content: "\eab8";
}
.ap-tumblr1:before {
  content: "\eab9";
}
.ap-tumblr2:before {
  content: "\eaba";
}
.ap-yahoo:before {
  content: "\eabb";
}
.ap-yahoo2:before {
  content: "\eabc";
}
.ap-tux:before {
  content: "\eabd";
}
.ap-appleinc:before {
  content: "\eabe";
}
.ap-finder:before {
  content: "\eabf";
}
.ap-android:before {
  content: "\eac0";
}
.ap-windows:before {
  content: "\eac1";
}
.ap-windows8:before {
  content: "\eac2";
}
.ap-soundcloud1:before {
  content: "\eac3";
}
.ap-soundcloud2:before {
  content: "\eac4";
}
.ap-skype1:before {
  content: "\eac5";
}
.ap-reddit:before {
  content: "\eac6";
}
.ap-hackernews:before {
  content: "\eac7";
}
.ap-wikipedia:before {
  content: "\eac8";
}
.ap-linkedin1:before {
  content: "\eac9";
}
.ap-linkedin2:before {
  content: "\eaca";
}
.ap-lastfm:before {
  content: "\eacb";
}
.ap-lastfm2:before {
  content: "\eacc";
}
.ap-delicious:before {
  content: "\eacd";
}
.ap-stumbleupon:before {
  content: "\eace";
}
.ap-stumbleupon2:before {
  content: "\eacf";
}
.ap-stackoverflow:before {
  content: "\ead0";
}
.ap-pinterest:before {
  content: "\ead1";
}
.ap-pinterest2:before {
  content: "\ead2";
}
.ap-xing1:before {
  content: "\ead3";
}
.ap-xing2:before {
  content: "\ead4";
}
.ap-flattr:before {
  content: "\ead5";
}
.ap-foursquare:before {
  content: "\ead6";
}
.ap-yelp:before {
  content: "\ead7";
}
.ap-paypal:before {
  content: "\ead8";
}
.ap-chrome:before {
  content: "\ead9";
}
.ap-firefox:before {
  content: "\eada";
}
.ap-IE:before {
  content: "\eadb";
}
.ap-edge:before {
  content: "\eadc";
}
.ap-safari:before {
  content: "\eadd";
}
.ap-opera:before {
  content: "\eade";
}
.ap-file-pdf:before {
  content: "\eadf";
}
.ap-file-openoffice:before {
  content: "\eae0";
}
.ap-file-word:before {
  content: "\eae1";
}
.ap-file-excel:before {
  content: "\eae2";
}
.ap-libreoffice:before {
  content: "\eae3";
}
.ap-html-five:before {
  content: "\eae4";
}
.ap-html-five2:before {
  content: "\eae5";
}
.ap-css3:before {
  content: "\eae6";
}
.ap-git:before {
  content: "\eae7";
}
.ap-codepen:before {
  content: "\eae8";
}
.ap-svg:before {
  content: "\eae9";
}
.ap-IcoMoon:before {
  content: "\eaea";
}
.ap-dollar-sign:before {
  content: "\ea24";
}
.ap-badge1:before {
  content: "\ea2c";
}
.ap-invert_colors_on:before {
  content: "\ea25";
}
.ap-color_lens:before {
  content: "\ea26";
}
.ap-palette:before {
  content: "\ea26";
}
.ap-th-small-outline:before {
  content: "\e936";
}
.ap-th-large-outline:before {
  content: "\e937";
}
.ap-th-small:before {
  content: "\e938";
}
.ap-th-list:before {
  content: "\e939";
}
.ap-social-linkedin:before {
  content: "\e902";
}
.ap-social-facebook:before {
  content: "\e903";
}
.ap-trending-up:before {
  content: "\e93a";
}
.ap-trending-down:before {
  content: "\e93b";
}
.ap-clock:before {
  content: "\e93c";
}
.ap-mail:before {
  content: "\e904";
}
.ap-instagram:before {
  content: "\e905";
}
.ap-youtube1:before {
  content: "\e906";
}
.ap-twitter1:before {
  content: "\e907";
}
.ap-shopping-bag:before {
  content: "\e908";
}
.ap-shopping-cart:before {
  content: "\e909";
}
.ap-briefcase:before {
  content: "\e90a";
}
.ap-edit:before {
  content: "\e90b";
}
.ap-zoom-out:before {
  content: "\e90c";
}
.ap-zoom-in:before {
  content: "\e90d";
}
.ap-search:before {
  content: "\e90e";
}
.ap-timeline:before {
  content: "\e93d";
}
.ap-access_time:before {
  content: "\e93e";
}
.ap-query_builder:before {
  content: "\e93e";
}
.ap-schedule:before {
  content: "\e93e";
}
.ap-format_quote:before {
  content: "\e931";
}
.ap-share1:before {
  content: "\e90f";
}
.ap-work_outline:before {
  content: "\e910";
}
.ap-zoom_out:before {
  content: "\e911";
}
.ap-zoom_in:before {
  content: "\e912";
}
.ap-search1:before {
  content: "\e913";
}
.ap-arrow_right_alt:before {
  content: "\e914";
}
.ap-keyboard_arrow_up:before {
  content: "\e915";
}
.ap-keyboard_arrow_right:before {
  content: "\e916";
}
.ap-keyboard_arrow_left:before {
  content: "\e917";
}
.ap-keyboard_arrow_down:before {
  content: "\e918";
}
.ap-badge:before {
  content: "\ea2b";
}
.ap-currency-dollar:before {
  content: "\ea28";
}
.ap-location-gas-station:before {
  content: "\ea29";
}
.ap-reply-all:before {
  content: "\e93f";
}
.ap-reply:before {
  content: "\e940";
}
.ap-xing:before {
  content: "\e919";
}
.ap-behance:before {
  content: "\e91a";
}
.ap-soundcloud:before {
  content: "\e91b";
}
.ap-dropbox:before {
  content: "\e91c";
}
.ap-skype:before {
  content: "\e91d";
}
.ap-linkedin:before {
  content: "\e91e";
}
.ap-dribbble:before {
  content: "\e91f";
}
.ap-tumblr:before {
  content: "\e920";
}
.ap-vimeo:before {
  content: "\e921";
}
.ap-twitter:before {
  content: "\e922";
}
.ap-rss:before {
  content: "\e923";
}
.ap-flickr:before {
  content: "\e924";
}
.ap-vk:before {
  content: "\e925";
}
.ap-share:before {
  content: "\e926";
}
.ap-chat:before {
  content: "\e927";
}
.ap-light-bulb:before {
  content: "\ea1b";
}
.ap-medium:before {
  content: "\e9f7";
}
.ap-arrows_anticlockwise:before {
  content: "\e941";
}
.ap-arrows_check:before {
  content: "\e942";
}
.ap-arrows_compress:before {
  content: "\e943";
}
.ap-arrows_left:before {
  content: "\e944";
}
.ap-arrows_move:before {
  content: "\e945";
}
.ap-arrows_plus:before {
  content: "\e946";
}
.ap-arrows_remove:before {
  content: "\e947";
}
.ap-arrows_right:before {
  content: "\e948";
}
.ap-arrows_rotate:before {
  content: "\e949";
}
.ap-arrows_rotate_dashed:before {
  content: "\e94a";
}
.ap-arrows_shrink:before {
  content: "\e94b";
}
.ap-basic_cup:before {
  content: "\e94c";
}
.ap-basic_eye:before {
  content: "\e94d";
}
.ap-basic_eye_closed:before {
  content: "\e94e";
}
.ap-basic_heart:before {
  content: "\e94f";
}
.ap-basic_heart_broken:before {
  content: "\e950";
}
.ap-basic_home:before {
  content: "\e951";
}
.ap-basic_life_buoy:before {
  content: "\e952";
}
.ap-basic_lightbulb:before {
  content: "\e953";
}
.ap-basic_magnifier:before {
  content: "\e954";
}
.ap-basic_magnifier_minus:before {
  content: "\e955";
}
.ap-basic_magnifier_plus:before {
  content: "\e956";
}
.ap-basic_mail:before {
  content: "\e957";
}
.ap-basic_male:before {
  content: "\e958";
}
.ap-basic_mixer2:before {
  content: "\e959";
}
.ap-basic_mouse:before {
  content: "\e95a";
}
.ap-basic_pencil_ruler:before {
  content: "\e95b";
}
.ap-basic_settings:before {
  content: "\e95c";
}
.ap-ecommerce_bag:before {
  content: "\e95e";
}
.ap-ecommerce_bag_refresh:before {
  content: "\e95f";
}
.ap-ecommerce_banknote:before {
  content: "\e960";
}
.ap-ecommerce_banknotes:before {
  content: "\e961";
}
.ap-ecommerce_cart:before {
  content: "\e962";
}
.ap-ecommerce_cart_check:before {
  content: "\e963";
}
.ap-ecommerce_cart_download:before {
  content: "\e964";
}
.ap-ecommerce_cart_refresh:before {
  content: "\e965";
}
.ap-ecommerce_cart_remove:before {
  content: "\e966";
}
.ap-music_mute:before {
  content: "\e967";
}
.ap-music_pause_button:before {
  content: "\e968";
}
.ap-music_play_button:before {
  content: "\e969";
}
.ap-music_playlist:before {
  content: "\e96a";
}
.ap-music_shuffle_button:before {
  content: "\e96b";
}
.ap-music_stop_button:before {
  content: "\ea16";
}
.ap-music_volume_down:before {
  content: "\ea17";
}
.ap-music_volume_up:before {
  content: "\ea18";
}
.ap-left-quote:before {
  content: "\e92b";
}
.ap-right-quote:before {
  content: "\e92c";
}
.ap-mute:before {
  content: "\e92a";
}
.ap-alarm:before {
  content: "\e96c";
}
.ap-apartment:before {
  content: "\e96d";
}
.ap-arrow-down:before {
  content: "\e96e";
}
.ap-arrow-down-circle:before {
  content: "\e96f";
}
.ap-arrow-left:before {
  content: "\e970";
}
.ap-arrow-left-circle:before {
  content: "\e971";
}
.ap-arrow-right:before {
  content: "\e972";
}
.ap-arrow-right-circle:before {
  content: "\e973";
}
.ap-arrow-up:before {
  content: "\e974";
}
.ap-arrow-up-circle:before {
  content: "\e975";
}
.ap-bicycle:before {
  content: "\e976";
}
.ap-bold:before {
  content: "\e977";
}
.ap-book:before {
  content: "\e978";
}
.ap-bookmark:before {
  content: "\e979";
}
.ap-briefcase1:before {
  content: "\e97a";
}
.ap-bubble1:before {
  content: "\e97b";
}
.ap-bug:before {
  content: "\e97c";
}
.ap-bullhorn:before {
  content: "\e97d";
}
.ap-bus:before {
  content: "\e97e";
}
.ap-calendar-full:before {
  content: "\e97f";
}
.ap-camera:before {
  content: "\e980";
}
.ap-camera-video:before {
  content: "\e981";
}
.ap-car:before {
  content: "\e982";
}
.ap-cart:before {
  content: "\e983";
}
.ap-chart-bars:before {
  content: "\e984";
}
.ap-checkmark-circle:before {
  content: "\e985";
}
.ap-chevron-down:before {
  content: "\e986";
}
.ap-chevron-down-circle:before {
  content: "\e987";
}
.ap-chevron-left:before {
  content: "\e988";
}
.ap-chevron-left-circle:before {
  content: "\e989";
}
.ap-chevron-right:before {
  content: "\e98a";
}
.ap-chevron-right-circle:before {
  content: "\e98b";
}
.ap-chevron-up:before {
  content: "\e98c";
}
.ap-chevron-up-circle:before {
  content: "\e98d";
}
.ap-circle-minus:before {
  content: "\e98e";
}
.ap-clock1:before {
  content: "\e98f";
}
.ap-cloud:before {
  content: "\e990";
}
.ap-cloud-check:before {
  content: "\e991";
}
.ap-cloud-download:before {
  content: "\e992";
}
.ap-cloud-sync:before {
  content: "\e993";
}
.ap-cloud-upload:before {
  content: "\e994";
}
.ap-code:before {
  content: "\e995";
}
.ap-coffee-cup:before {
  content: "\e996";
}
.ap-cog:before {
  content: "\e997";
}
.ap-construction:before {
  content: "\e998";
}
.ap-crop:before {
  content: "\e999";
}
.ap-cross:before {
  content: "\e99a";
}
.ap-cross-circle:before {
  content: "\e99b";
}
.ap-database:before {
  content: "\e99c";
}
.ap-diamond:before {
  content: "\e99d";
}
.ap-dice:before {
  content: "\e99e";
}
.ap-dinner:before {
  content: "\e99f";
}
.ap-direction-ltr:before {
  content: "\e9a0";
}
.ap-direction-rtl:before {
  content: "\e9a1";
}
.ap-download:before {
  content: "\e9a2";
}
.ap-drop:before {
  content: "\e9a3";
}
.ap-earth:before {
  content: "\e9a4";
}
.ap-enter:before {
  content: "\e9a5";
}
.ap-enter-down:before {
  content: "\e9a6";
}
.ap-envelope:before {
  content: "\e9a7";
}
.ap-exit:before {
  content: "\e9a8";
}
.ap-exit-up:before {
  content: "\e9a9";
}
.ap-eye:before {
  content: "\e9aa";
}
.ap-file-add:before {
  content: "\e9ab";
}
.ap-file-empty:before {
  content: "\e9ac";
}
.ap-film-play:before {
  content: "\e9ad";
}
.ap-flag:before {
  content: "\e9ae";
}
.ap-frame-contract:before {
  content: "\e9af";
}
.ap-frame-expand:before {
  content: "\e9b0";
}
.ap-funnel:before {
  content: "\e9b1";
}
.ap-gift:before {
  content: "\e9b2";
}
.ap-graduation-hat:before {
  content: "\e9b3";
}
.ap-hand:before {
  content: "\e9b4";
}
.ap-heart:before {
  content: "\e9b5";
}
.ap-heart-pulse:before {
  content: "\e9b6";
}
.ap-highlight:before {
  content: "\e9b7";
}
.ap-history:before {
  content: "\e9b8";
}
.ap-home:before {
  content: "\e9b9";
}
.ap-hourglass:before {
  content: "\e9ba";
}
.ap-inbox:before {
  content: "\e9bb";
}
.ap-indent-decrease:before {
  content: "\e9bc";
}
.ap-indent-increase:before {
  content: "\e9bd";
}
.ap-italic:before {
  content: "\e9be";
}
.ap-keyboard:before {
  content: "\e9bf";
}
.ap-laptop:before {
  content: "\e9c0";
}
.ap-laptop-phone:before {
  content: "\e9c1";
}
.ap-layers:before {
  content: "\e9c2";
}
.ap-leaf:before {
  content: "\e9c3";
}
.ap-license:before {
  content: "\e9c4";
}
.ap-lighter:before {
  content: "\e9c5";
}
.ap-linearicons:before {
  content: "\e9c6";
}
.ap-line-spacing:before {
  content: "\e9c7";
}
.ap-link:before {
  content: "\e9c8";
}
.ap-list:before {
  content: "\e9c9";
}
.ap-location:before {
  content: "\e9ca";
}
.ap-lock:before {
  content: "\e9cb";
}
.ap-magic-wand:before {
  content: "\e9cc";
}
.ap-magnifier:before {
  content: "\e9cd";
}
.ap-map:before {
  content: "\e9ce";
}
.ap-map-marker:before {
  content: "\e9cf";
}
.ap-menu:before {
  content: "\e9d0";
}
.ap-menu-circle:before {
  content: "\e9d1";
}
.ap-mic:before {
  content: "\e9d2";
}
.ap-moon:before {
  content: "\e9d3";
}
.ap-move:before {
  content: "\e9d4";
}
.ap-music-note:before {
  content: "\e9d5";
}
.ap-mustache:before {
  content: "\e9d6";
}
.ap-neutral:before {
  content: "\e9d7";
}
.ap-page-break:before {
  content: "\e9d8";
}
.ap-paperclip:before {
  content: "\e9d9";
}
.ap-paw:before {
  content: "\e9da";
}
.ap-pencil:before {
  content: "\e9db";
}
.ap-phone1:before {
  content: "\e9dc";
}
.ap-phone-handset:before {
  content: "\e9dd";
}
.ap-picture:before {
  content: "\e9de";
}
.ap-pie-chart:before {
  content: "\e9df";
}
.ap-pilcrow:before {
  content: "\e9e0";
}
.ap-plus-circle:before {
  content: "\e9e1";
}
.ap-pointer-down:before {
  content: "\e9e2";
}
.ap-pointer-left:before {
  content: "\e9e3";
}
.ap-pointer-right:before {
  content: "\e9e4";
}
.ap-pointer-up:before {
  content: "\e9e5";
}
.ap-poop:before {
  content: "\e9e6";
}
.ap-power-switch:before {
  content: "\e9e7";
}
.ap-printer:before {
  content: "\e9e8";
}
.ap-pushpin:before {
  content: "\e9e9";
}
.ap-question-circle:before {
  content: "\e9ea";
}
.ap-redo:before {
  content: "\e9eb";
}
.ap-rocket:before {
  content: "\e9ec";
}
.ap-sad:before {
  content: "\e9ed";
}
.ap-screen:before {
  content: "\e9ee";
}
.ap-select:before {
  content: "\e9ef";
}
.ap-shirt:before {
  content: "\e9f0";
}
.ap-smartphone:before {
  content: "\e9f1";
}
.ap-smile:before {
  content: "\e9f2";
}
.ap-sort-alpha-asc:before {
  content: "\e9f3";
}
.ap-sort-amount-asc:before {
  content: "\e9f4";
}
.ap-spell-check:before {
  content: "\e9f5";
}
.ap-store:before {
  content: "\e9f9";
}
.ap-strikethrough:before {
  content: "\e9fa";
}
.ap-sun:before {
  content: "\e9fb";
}
.ap-sync:before {
  content: "\e9fc";
}
.ap-tablet:before {
  content: "\e9fd";
}
.ap-tag1:before {
  content: "\e9fe";
}
.ap-text-align-center:before {
  content: "\e9ff";
}
.ap-text-align-justify:before {
  content: "\ea00";
}
.ap-text-align-left:before {
  content: "\ea01";
}
.ap-text-align-right:before {
  content: "\ea02";
}
.ap-text-format:before {
  content: "\ea03";
}
.ap-text-format-remove:before {
  content: "\ea04";
}
.ap-text-size:before {
  content: "\ea05";
}
.ap-thumbs-down:before {
  content: "\ea06";
}
.ap-thumbs-up:before {
  content: "\ea07";
}
.ap-train:before {
  content: "\ea08";
}
.ap-trash:before {
  content: "\ea09";
}
.ap-underline:before {
  content: "\ea0a";
}
.ap-undo:before {
  content: "\ea0b";
}
.ap-unlink:before {
  content: "\ea0c";
}
.ap-upload:before {
  content: "\ea0d";
}
.ap-user:before {
  content: "\ea0e";
}
.ap-users:before {
  content: "\ea0f";
}
.ap-volume:before {
  content: "\ea10";
}
.ap-volume-high:before {
  content: "\ea11";
}
.ap-volume-low:before {
  content: "\ea12";
}
.ap-volume-medium:before {
  content: "\ea13";
}
.ap-warning:before {
  content: "\ea14";
}
.ap-wheelchair:before {
  content: "\ea15";
}
.ap-certificate:before {
  content: "\ea2a";
}
.ap-snapchat-square:before {
  content: "\ea21";
}
.ap-snapchat-ghost:before {
  content: "\ea22";
}
.ap-jsfiddle:before {
  content: "\ea20";
}
.ap-medium1:before {
  content: "\e9f8";
}
.ap-fa:before {
  content: "\ea1c";
}
.ap-font-awesome:before {
  content: "\ea1c";
}
.ap-slack:before {
  content: "\ea1d";
}
.ap-reddit-square:before {
  content: "\ea1e";
}
.ap-pinterest-p:before {
  content: "\ea1f";
}
.ap-fax:before {
  content: "\e933";
}
.ap-phone:before {
  content: "\e934";
}
.ap-th:before {
  content: "\e935";
}
.ap-digg:before {
  content: "\e900";
}
.ap-youtube:before {
  content: "\e901";
}
